/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Encabezado */
h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

#modificar-form {
    display: none;
}

/* Tabla de usuarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #333;
    color: white;
}

table thead th {
    padding: 12px;
    text-align: left;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody td {
    padding: 12px;
}

table tbody td button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
}

table tbody td button:hover {
    background-color: #0056b3;
}

/* Botón de eliminar */
table tbody td button:nth-child(2) {
    background-color: #DC3545;
}

table tbody td button:nth-child(2):hover {
    background-color: #c82333;
}

/* Responsivo */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    table, form {
        font-size: 14px;
    }

    form input, form button {
        font-size: 14px;
    }
}

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #0056b3;
}

.pagination a:hover {
    background-color: #0056b3;
}
